.container{
width: 80%;
height: 600px;
border: 2px solid red;
margin-left: 100px;
padding-left: 50px;
}
.item-1, .item-2, .item-3, .item-4{
    display: inline-block;
    /* border: 2px soild green; */
    width: 250px;
    /* height: 400px; */
    padding: 10px;
     /* border: 2px solid green; */
}
img{
    width: 100%;
}